


body {
    margin: 0;
    padding: 0px;
    /* max-width: 1000px !important; */
    justify-self: unset;
    
    /* overflow-y: hidden; */

    /* theme green */
    /* background-color: #3b958bc2; */
    
/* theme white */
    /* background-color: #e4e8eb !important; */
    /* background-color: #424e5a !important; */


    /* theme dark */
    background-color: #333333c7 ;



    /* theme gray */
    /* background-color: #cac5c5e8; */


    /* theme light  */
    /* background-color: #889fafef; */

    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}
.list-passengers{
    direction: ltr !important;
}

.title-color{
    color:black !important;
    font-weight: bold;
}
.title-color-passenger{
    color: #1d1a1a !important;
    color: #6c757d;
    /* color: rgba(130, 214, 127, 0.911)))))); */
    /* font-weight: bold; */
}


a{
    font-weight: bolder !important;
}


.btn-background{
    /* background-color: #3b4651 !important; */

    
    background-color: rgba(19, 17, 17, 0.527);

     /* theme dark */
    /* background-color:#000000ed !important; */


     /* theme gray */
     /* background-color: #aca3a3ce !important; */



    /* theme green */
    /* background:   #3b958bc2 !important; */



    background: #889faf !important;


    
    /*theme light  */
    /* background-color: #6f8ea5ef !important; */
}

.color-secondary{
    background: white !important;
}

.background{
    
    background: #e4e8eb !important;


}

small {
    font-size: 10px !important;
}



html{
    font-family: 'Roboto', sans-serif;
    font-weight: normal !important;
}

button:focus{
    color: white !important;

}

.swal2-title{
    font-size: 16px !important;
    

}

.navigation-button{
    text-decoration: none; background-color: #424e5a; border-radius: 3px; padding: 2px; margin-right: 4px;
}

.vertical-even{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.vertical-even >div{
  margin-bottom: 2px;
}

.step-two-wrapper{
    display: flex !important; 
    /* justify-content: center !important; */
    justify-content:space-between;
    flex-direction: row-reverse !important;
}
.item-stage{
    border: 1px solid  #424e5a;
    padding: 3px;
    text-align: center;
    /* border-radius: 120px; */
}

.normal-row{
    display: flex !important; 
    /* justify-content: center !important; */
    justify-content:space-between;
    flex-direction: row-reverse !important;
}

.submit-wrapper {
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    /* background-color: red; */
    color: white;
    text-align: center;
    margin-bottom: 3px !important;
  }

  .error-wrapper{
      background-color: red;
  }


  .button {
    background:  #424e5a !important;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .column-home-list{
    direction: ltr;
     /* border-bottom: 1px solid  #dde4eb  !important; */
      flex-direction: column;
    
  }

  .shadow  {
      
      -webkit-box-shadow:  0 0 4px 4px inset  #dde4eb  !important;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    0 0 4px 4px inset  #dde4eb  !important; /* Firefox 3.5 - 3.6 */
      box-shadow:         0 0 4px 4px inset  #dde4eb !important;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
 }

 .option-btn{
     height: 100px;
     font-size: 17px;
     font-weight: bold;
 }
/* .modal { width: 100% !important ; 
        max-height: 75% !important ;
         overflow-y: hidden !important;
         background-color: white !important;
      
 }
 

  */
 input{
     text-align: left !important;
     color: #141414;
     font-weight: normal;
     background: white !important;
     padding: 5px;
     border-radius: 3px !important;
    
     /* font-family: 'Courier New', Courier, monospace; */
 }

 .myselect{
     position: relative;
     display: inline-block;
 }
 .myselect select {
    
     height: 30px;
    
     padding-right: 1px;
     outline: none;
   
 }
.gold-color{
    color: #f5cc50;;
}
 .myselect::after{
     content: '';
     position: absolute;
     right: 4px;
     top: 11px;
     width: 0;
     height: 0px;
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
     border-top: 8px solid #FDBF00;
     pointer-events: none;
     
 }
 select option{
     color: red !important;
 }
 .other{
     color: #889faf;
 }

 /* selection */
 ::-moz-selection{
     color: yellow;
 }

 ::selection {
     color: red;
 }

 ::placeholder{
    /* font-family: 'Courier New', Courier, monospace !important; */
    /* letter-spacing: 5px; */
    color: #98a6ad !important;
    letter-spacing: 10px;
    font-weight: 600;
    font-size: 15px !important;
    
    padding: 2px;
}

.search-input {
    /* font-family: 'Courier New', Courier, monospace !important; */
    /* letter-spacing: 5px; */
   text-align: center !important;
}

 ::-ms-value{
     color: black !important;
     font-size: 10px !important;
     padding: 0px;
 }
 
.home-2, .home-3, .home-item{
    display: none;
}
.home-2{
   
}



input[type=text]{
    direction: ltr !important;
    unicode-bidi: bidi-override !important;
    
}
.input[type=text]:focus{
    border-color: inherit !important;
}

.ticket-head{
    color: #889faf;
    font-weight: bold;
    font-size:larger;
    margin-right: 4px;
}
/* .dropdown-menu{
    background-color: #ffffffd3 !important;
} */

.text-color, .dropdown-item{
   color: #191919; 
   /* font-weight: bold; */
   font-size: 12.5px;
   font-weight: normal !important;
   /* letter-spacing: 5px; */
}
.faint-text{
    color: #4c4c4c !important;
    font-size: 12px;
}
.dropdown-item{
    /* font-family: 'Courier New', Courier, monospace !important; */
    letter-spacing: 1px;
    text-align: left !important;
    font-size: 15px;
    /* border-bottom: 1px solid blue; */
   
}
.dropdown-item:focus{
    background-color: orange !important;
    background: orange !important;
    
}

.stages-bus {
    border-bottom: 1px solid black !important;
}
.text-shadow{
    text-shadow: 2px 2px #FDBF00;
    font-size: 18px;
}

.content-ticket{
    font-family: 'Courier New', Courier, monospace !important;
    letter-spacing: 4px;
    color: black; 
    font-size: 12.5px;
    font-weight: normal;
}
.window-container{
    max-height:330px; 
    overflow: auto;
     min-height: 100vh;
     overflow-x: hidden;
     /* border: 1px solid black; */
     padding: 5px;
     background: white;
}
.window-container-ticket{
    max-height:354px; 
    overflow: auto;
     min-height: 354px;
     overflow-x: hidden;
     /* border: 1px solid black; */
     padding: 5px;
     background: white;
}


.para{
    /* background: #5a6b7c; */
    /* background: #323b44; */

   /* background: #323b44 */
}
.para p{
 
    margin: 0px;
}
.yellow{
    color:#FDBF00;
}


/* image overlap */
.border-div{
    border: 1px solid #64798f;
    margin-top: 2px;
    z-index: -1;
    width: 200px;
    

}
.redsquare{
    height: 100px;
    width: 100px;
    z-index: 0;
    margin: 0 auto;
    position: relative;
    top: -60px;
    border-radius: 50px;

}
.text{
  position: relative;
  top: -100px;
  z-index: 1;
  margin-bottom: -100px;   
}
.font-small{
    font-size: 13px !important;
}

.color-ticket-cancelled {
    background-color: #f87e7e;
    color: #fff;
    border: none;
    font-weight: bolder;
    padding: 2px;
    font-size: 13px !important;
}
.color-ticket-not-used{
    /* background-color: #47d647; */
    background-color: #FFFFFF;
    color: #fff;
    border: none;
    font-weight: bolder;
    padding: 3px;
    font-size: 13px !important;
}
/* .list-menu{
    
} */

.back-btn{
    position: fixed;
    right: 0;
    top: 50% !important;
    width: 20px;
    /* background-color: #424e5a;  */
    background-color: #323b44; 
    color: #FDBF00;
    text-align: center;
   
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    height: 40px;
    border: 1px solid #FDBF00;
    font-size: 20px;
    font-weight: bolder;
    padding: 2px;
    text-align: center;
}


.notification-bell{
    position: fixed;
    right: 0;
    top: 2% !important;
    width: 30px;
    /* background-color: #424e5a;  */
    background-color: #323b44;
    color: #889faf;
    text-align: center;
    margin-bottom: 3px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    height: 40px;
    /* border: 1px solid #FDBF00; */
    font-size: 20px;
    font-weight: bolder;
    padding: 2px;
    padding-top: 4px !important;
    text-align: center;
}
.time-title{
    position: fixed;
    right: 0%;
    bottom: 0;
    display: none;
   
}
.container{
    text-align: left !important;
    direction: normal !important;
}

.event-title{
    font-weight: bold !important;
   
}

.notification-bell-my-menu{

    position: fixed;
    right: 3%;
    top: 3% !important;
    width: 30px;
    /* background-color: #424e5a;  */
    background-color: inherit;
    color: #889faf;
    text-align: center;
    margin-right: 3px;
   
    height: 40px;
    /* border: 1px solid #FDBF00; */
    font-size: 20px;
    font-weight: bolder;
    padding: 2px;
    padding-top: 4px !important;
    text-align: center;
}
.add-btn{
    position: fixed;
    left: 0;
    top: 50% !important;
    width: 20px;
    /* background-color: #424e5a;  */
    background-color: #797f85; 
    /* background-color: #1c242c;  */
    color: #FDBF00;
    text-align: center; 
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    padding: 0px;
    text-align: center;
}

.ticket-container{
    border: 1px solid #323b44;
}

.card-header{
    padding: 1px !important;
}

select {
    width:100% !important;
}

.select2-container--default .select2-selection--single{
    background-color: #424e5a;
    direction: rtl !important;
    width: 100% !important;
    color: #FFFFFF !important;
    
}
.select2-selection {
    color: white;
 
  }
.select2-search--dropdown{
    background-color: pink;
}

.select2-default {
    color: #f00 !important;
  }





select-wrapper input.select-dropdown{ height: 30px; } 
.dropdown-content li { min-height: 25px; line-height: 1rem; } 
.dropdown-content.select-dropdown li { margin:0; padding:0; height:30px; } 
.dropdown-content.select-dropdown li span{ margin:0; padding:0; }

.modal-1{
    background-color: #424e5a !important;
    background:  #424e5a !important;
    padding: 3px !important;
}


#add-stages-modal{
    display: none;
}
#add-prices-modal{
    display: none;
}
.i00{
    width: 100%;
}
input{
    border: none !important;
}
.menu-bus-1{
    display: none;
}
.busnames-title{
    font-weight: 600;
    letter-spacing: 2px;
    color: #424e5a;
 
}
.busname, .bus-time{
    font-weight: normal;
    font-size: 14px;
    
}

.pop-wrapper{
    padding-left: 4px;
    margin-left: 4px;
}

.logo-text{
    margin-right: 5px !important;
   
    /* text-overflow: ellipsis; */
  letter-spacing: -8px;
    font-weight: bold !important;
    /* color: #424e5a !important; */
 
    text-align: center !important;
    font-size: 30px;
    height: 38px !important;
    padding-left: 0;
    /* background-color: #e4e8eb !important; */

}
/* .card-body{
    border: 1px solid whitesmoke;
} */

.i97{
    width:57%;
}

.i98{
    width: 86%;
}


/* settings */
.settings-admin{
    display: none;
}

.container-settings{
	display: flex;

	/* flex-direction: column; */
    flex-direction: column !important;
    /* justify-content: left; */
}

.img-background{
	height: 28px;
	width: 28px;
	border-radius: 14px;
	background-color: black;
    padding-top: 4px !important;
	text-align: center;
}
.action-button{
    
    
    font-weight: bold;
  
	text-align: center;
}

.action-button:focus{
/* background-color !important; */
}

.list-unstyled {
    /* border: 1px solid greenyellow; */
    /* height: 30px;
    padding-top: 18px;
    text-align: bottom !important; */
}

 .container-fluid{
    /* border: 1px solid blue; */
}

 .navbar-custom {
    /* border: 1px solid red; */
    height: 80px !important;
    padding-bottom: 0px !important;
}

.img-round{
	height: 86px;
	width: 86px;
    /* border: 4px solid #889faf; */

	border-radius: 50px;
	/* background-color: darkgreen; */
    padding-top: 8px !important;
  
	text-align: center;
}



.img-round-two{
	height: 40px;
	width: 40px;
	/* border-radius: 100px; */
    border: 4px solid #e4e8eb;
    padding-top: 5px !important;
    padding-bottom: 2px !important;

	text-align: center;
    
}
.img-round-sm{
    height: 35px;
	width: 35px;
	border-radius: 100px;
    /* border: 4px solid #e4e8eb; */
    padding-top: 2px !important;
    /* padding-bottom: 2px !important; */

	text-align: center; 
}

.img-round-sm-menu{
    height: 35px;
	width: 63px;
	border-radius: 100px;
	
    border: 5px solid #e4e8eb;
    padding: 4px !important;
    /* padding-bottom: 2px !important; */

	text-align: center; 
    /* color: #98a6ad !important; */
}

.img-round-bus-home{
    height: 50px;
	width: 50px;
	border-radius: 100px;
	
    /* border: 5px solid #e4e8eb; */

    /* padding-bottom: 2px !important; */

	text-align: center; 
}

.bold-text{
    font-weight: bold !important;
    color: #98a6ad;
}


.start{

    border-bottom: 5px solid #3bafda;
    width: 59px;
    color: #3bafda;
    font-weight: bold;
    
}



.img-round-ticket-passenger{
	height: 80px;
	width: 80px;
    text-align: center;
	/* background-color: darkgreen; */
    padding-top: 13px !important;
    padding-right: 10px !important;

	
}
.menu-setting{
    min-height: 90vh;
}

.error-container{
    min-height: 200px;
    padding-top: 20px;
}



.img-round img{
    margin-top: 5px;
}
.space{
    /* min-width: 11% !important; */
    min-width: 4% !important;
}

.space-admin{
    min-width: 20% !important;
}





.settings-title{

	border-bottom: 1px solid  rgb(143, 141, 141) ;
	margin: 0px;
	padding: 0px;


}
.settings-image{

	width: 10%;
	padding: 2px;

}
.settings-name {
    padding-left: 5px !important;
}
.setting-header{
    flex-direction: row-reverse;
}

.suspend{
    display:flex;
    flex-direction: row-reverse !important;

}

.bustype-menu{
   /* position:fixed;
   float: center; */
}


.home-4 , .home-3-4, .suspend-setting, .capacity-setting, .price-setting, .conductor-setting, .report-setting, 
.all-passengers-setting, #show-all-passengers, .guide-show-btn, .guide-box, 
 .rate-wrapper, .all-vendors-setting, .login-container, .register-container , .admin-bar, .masteradmin, .item-t ,
  #back-from-bus-settings, .setting-back, 
  .add-customer-wrapper, .home-update ,
   .dropdown-stages, .logout-btn , .login-btn, .home-settings, .home-routes, .seat-wrapper{
    display: none;
}
.rate-wrapper{
    min-height: 100px;
    overflow-y: hidden;
 /* background-color:#04AA6D;  */
}
.comfirm-password{
    display: none !important;
}
.small-input{
    width: 40px !important; 
    height: 15px !important; 
    border-bottom: 1px solid #FDBF00 !important; 
    padding: 3px !important;
    
}

th, .setting-text{
    color: #666666  !important;
    font-weight: bolder !important;
    font-size: 14px !important;
   
}
table{
    direction:ltr;
}
#back-from-ticket{
    display: none;
}
#error-conductor{
    font-weight:lighter;
    color: #98a6ad;
    font-size: 11px;
}
.inbox-select{
   
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    padding: 5px !important;
    /* background-color: red; */
    color: white;
    text-align: center;
    margin-bottom: 3px !important;
    display: none !important;
}



.select-destination-form{
   margin: 0px !important;
   padding: 0px !important;
   height: 15px !important;
}
.search-input{
    /* border-radius: 20px !important; */
    /* padding-left: 2px !important; */
    padding-right: 2px !important;
    height: 38px !important;
    background-color: #fffff0bd !important;
}
.search-wrapper{
    margin-right: 4px;
    margin-left: 4px;
}
.inputs-bus{
    /* /* width: 85%; */
    border-radius: 30px !important;
    margin-left: 2px;
    margin-right: 2px; 
    /* height: 30px; */
 
}

.all-stages-fetched{
    overflow: scroll !important;
    max-height: 100px;
    overflow-y: auto;
    /* max-height: 16px; */
}
.inputs-send{
    width: 50px;
    height: 50px;
    padding-top: 2px;
    padding-left: 2px;
     border-radius: 25px !important;
    margin-left: 2px;
    margin-right: 2px;
   
}


.ticket-message{
    border-bottom-right-radius: 10px !important;
    border-radius: 10px !important;
}

.name {
    display: inline-block;
   }
   
   .name:first-letter {
    text-transform:uppercase;
   }


.ticket-text-wrapper{
    border-left: 1px solid #415364 !important;
    border-top: 1px solid #415364 !important;
}

.user-btn{
    background-color:  inherit !important;
}

/* ticket message format */

.container {
    width: 100%;
    /* padding: 10px; */
}

.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color:  #4e575f;
    /* max-width: 95%; */
   
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border-radius: 10px;
}
.message-blue h6{
    padding: 1px;
    margin: 0;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    background-color: #f8e896;
    /* max-width: 80%; */
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #f8e896;
    border-radius: 10px;
}

.message-content {
    padding: 2;
    margin: 0;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #A8DDFD;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #f8e896;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.guide-box {
    position: fixed;
    right: 1%;
    top: 55% !important;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 2px;
    min-width: 20%;
     direction: ltr !important;
     border: none;
     padding-right: 5px;
}
.prepare-item{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    text-align: center;
   /* background-color: #7bf17b; */
}
.cross{
    color: #ca2626;
    font-weight: bolder;
}

.guide-show-btn{
    position: fixed;
    right: 0;
    top: 55% !important;
    width: 20px;
    /* background-color: #424e5a;  */
    background-color: #323b44; 
    color: #FDBF00;
    text-align: center;
   
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    height: 40px;
    border: 1px solid #FDBF00;
    font-size: 20px;
    font-weight: bolder;
    padding: 2px;
    text-align: center;
  
    display: none;
}
.bg-yellow{
    background-color: #FDBF00;
    color:white;
}

.conductor-ticket{
    position: fixed;
    top: 20% !important;
}


.conv {
    max-height:400px;
    overflow:auto;
}

.msg{
    height:100px;
    width:100px;
    border:1px solid blue;
}

.rating-container{
    display: flex !important;
    /* flex-direction: column; */
    direction: ltr;
    margin: 0;
    padding: 0;

}

.rating-container > img{
    height: 7px !important;
 
}
.vendor-count{
    height: 25px;
    width: 30px;
    border-radius: 20px;
    padding: 4px;
    padding-left: 2px;
    padding-right: 2px;
    color: white;
}

.wrapper-login, .wrapper-register{
    display:flex;
    direction: ltr;
}

.rounded{
    border: 1px solid white !important;
}

.login-admin{
    position: fixed;
    top: 8%;
    width: 100%;
}

.drop-menu{
    direction: rtl !important;
}


.btn-dark{
    background: #424e5a;
}
/* a:focus{
    border:  1px solid #3bafda !important;
    color: #889faf !important;
} */
/* .date{
    height: 0px !important;
    background-color:#04AA6D !important;
} */

.footer-custom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px !important;
    /* border: 1px solid red; */
    background-color: #e4e8eb !important;

    height: 65px;
}
.footer-custom-admin{
    position: fixed;
    bottom: 50px;
    right: 5px;
    width: 60px;
    margin: 0px !important;
    /* border: 1px solid red; */
    
    height: 60px;
    border-radius: 100px;

}
.circle-btn{
    border-radius: 100px;
    height: 40px;
    width: 40px;
    font-size: 15px;
    text-align:center;
    color: white;
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;

}
.add-customer-wrapper{
    min-height:200vh;
}

.footer-custom-admin-3{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px !important;
    /* border: 1px solid red; */
    background-color: #e4e8eb !important;

    height: 50px;
}



.datepicker{
    border: 1px  dashed black !important;
    height: 11px !important;
    border-radius: 8px !important;
    padding: 0px;

}
.dashed{
    border: 1px  dashed #98a6ad !important;
    border-radius: 8px !important;
    padding: 0px;
    height: 30px !important;
}

.border-round {
    border: 4px solid #e4e8eb;
}
.bold{
    font-weight: bold !important;
}





















/* popup */

/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.stage-pop-over {
  /* display: none; */
  position: fixed;
  bottom: 0;
  right: 0px;
  direction: ltr;
  /* border: 3px solid #f1f1f1; */
  /* z-index: 9; */
}

/* Add styles to the form container */
.form-container {
  max-width: 100px;
  padding: 10px;

}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  /* padding: 15px; */
  margin: 5px 0 22px 0;

  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  /* outline: none; */
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.busname-title{
    white-space: nowrap;
    color: #1d1a1a !important;
    font-weight: bold;
}



.seat-container{
    width: 230px;
  
    border: 3px solid #e4e8eb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    justify-content: center;
}


.two-seats{
    width: 120px !important;  
    border: 3px solid #e4e8eb;
    width: 120px;
    display: flex;
}
.seat-btn{
    min-width: 50px;
    max-width: 50px;
}
.seat-btn-back{
    min-width: 47px;
    max-width: 47px;
}
.solid-border{
    border: 1px solid #98a6ad !important;
    border-bottom-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.dr {
    direction: ltr !important;
}

.line{
    border: none !important;
    border-bottom: 1px solid #98a6ad !important;
}

.width-small{
    width: 20px !important;
}

.width-small-2{
    width: 80px !important;
}

.space-top{
    min-height: 300px;
}










